# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
.expo/

# Environment files
.env
.env.local
.env.production
**/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# TypeScript
*.tsbuildinfo

.vercel
.env*
